<body>
  <div class="loading-screen">
    <div class="inner">
      <div class="preloader-logo" style="width: 160px;"><img class="attachment-full size-full" src="assets/img/tenderguardloadingEng.svg"></div>
      <div class="progress-wrap">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <div class="offcanvas-container mobile-menu">
    <nav class="main-navigation font-family-nav">
      <ul class="menu">
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>

        </li>
        <li class="menu-item menu-item-has-children"><a href="/app">App</a>

        </li>
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contact"><span>Contact</span></a>

        </li>
        <li class="active menu-item menu-item-has-children"><a href="/about">About</a>

        </li>
        <li class="menu-item menu-item-has-children"><a href="/aboutchn">繁體中文</a>

        </li>
      </ul>
    </nav>

  </div>
  <!-- Page Wrapper-->
  <main class="page-wrapper">
    <!-- Site header-->
    <header class="site-header header-fullwidth">
      <!-- Topbar-->
      <div class="navbar-horizontal border-default-bottom">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle">
              <i class="si si-menu"></i></div>
            <a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:80%" src="assets/img/tenderguardEng.svg"></a><a class="mobile-logo" href="assets/index.html" style="width: 120px;"><img alt="" src="assets/img/tenderguardEng.svg"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav navclass">
            <ul class="menu navinside-eng">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/app">App</a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contact"><span>Contact</span></a>

              </li>
              <li class="active menu-item menu-item-has-children"><a href="/about">About</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/aboutchn">繁體中文</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="navbar-horizontal navbar-sticky border-default-bottom">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle"><i class="si si-menu"></i></div><a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:80%" src="assets/img/tenderguardEng.svg"></a><a class="mobile-logo" href="/" style="width: 120px;"><img alt="" style="width:70%" src="assets/img/tenderguardEng.svg"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav navclass">
            <ul class="menu navinside-eng">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/app">App</a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contact"><span>Contact</span></a>

              </li>
              <li class="active menu-item menu-item-has-children"><a href="/about">About</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/aboutchn">繁體中文</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- Content Wrapper-->
    <div class="content-wrapper">
      <!-- page-title.pug template-->
      <!-- Page Title-->
      <section class="page-title page-title-xl page-title-light" style="background-image: url(assets/img/page-titles/about-background.jpg);" data-jarallax='{"type":"scroll","speed":0.4,"noAndroid":"true","noIos":"true"}'><span class="overlay" style="background-color:#000;opacity:0.1;"></span>
        <div class="inner">
          <div class="breadcrumbs text-center"><span class="separator background-primary"></span><span class="separator background-primary"></span>
          </div>
          <h1>About Telos</h1>
        </div>
      </section>
      <!-- Page Content-->
      <section class="padding-top-3x padding-bottom-1x">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 padding-bottom-2x">
              <div class="text-block mobile-center">
                <h2>Our mission</h2>
              </div>
              <div class="text-block">
                <p class="drop-cap" style="font-family: SF-Regular; font-size: 15px">Telos was born out of frustration.
                      Buildings in Hong Kong constantly require maintenance and renovation, where such construction projects can be an onerous logistical process for its inhabitants. Telos simplifies that process by providing its users with an online voting platform designed to streamline the entire decision-making process. An app made for the community, Telos enables its users to vote remotely on construction projects, or any other building-specific projects for that matter. Telos is not just a voting platform but also an information provider, an app that gives you transparency, equity, and security.
                      (We encrypt your votes to ensure anonymity, and have implemented various other functions to completely prevent electoral fraud for our users.)
                      <br><br>
                      We believe that property manager and property owner need to understand each other before the community can thrive as a whole; therefore, we also provide our users with a digital noticeboard, a survey section, and a multi-purpose forum, all in the hopes of making information flow freely and bilaterally.
                      <br><br>
                      In short, Telos enables property owners to take matters into their own hands, save valuable time, engage in open discussion in a safe environment, and make informed decisions about all future projects.</p>

              </div>
            </div>
            <!-- <div class="col-sm-6 padding-bottom-2x">
                <div class="text-block mobile-center">
                  <h2>Skills And Huge Experience</h2>
                </div>
                <div class="progress progress-dark">
                  <h4 class="progress-bar-label"><span class="text-primary"><i class="si si-view"></i></span> Design   —   90%</h4>
                  <div class="progress-bar"><span class="rails background-primary" style="width: 90%;"></span></div>
                </div>
                <div style="height: 2px;"></div>
                <div class="progress progress-dark">
                  <h4 class="progress-bar-label"><span class="text-info"><i class="si si-star-black"></i></span> Marketing   —   50%</h4>
                  <div class="progress-bar"><span class="rails background-info" style="width: 50%;"></span></div>
                </div>
                <div style="height: 2px;"></div>
                <div class="progress progress-dark">
                  <h4 class="progress-bar-label"><span class="text-success"><i class="si si-person-black"></i></span> Consulting   —   30%</h4>
                  <div class="progress-bar"><span class="rails background-success" style="width: 30%;"></span></div>
                </div>
                <div style="height: 2px;"></div>
                <div class="progress progress-dark">
                  <h4 class="progress-bar-label"><span class="text-warning"><i class="si si-cog"></i></span> Development   —   85%</h4>
                  <div class="progress-bar"><span class="rails background-warning" style="width: 85%;"></span></div>
                </div>
              </div> -->
          </div>
        </div>
      </section>

      <section class="fw-section with-parallax padding-top-4x padding-bottom-3x" data-offset-top="180" data-jarallax="{&quot;type&quot;:&quot;scroll&quot;,&quot;speed&quot;:0.4,&quot;imgWidth&quot;:1920,&quot;imgHeight&quot;:1101,&quot;noAndroid&quot;:&quot;true&quot;,&quot;noIos&quot;:&quot;true&quot;}"
        style="background-image: url(assets/img/page-titles/about-background2.jpg); font-size: 15px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-8 mobile-center">
              <div class="text-block">
                <br>
                <h2><span class="text-light">Sign up for a free trial.</span></h2>
              </div>
              <div class="text-block">
                <p><span class="text-light opacity-70">If your building management company or estate is interested in using our service, please contact us by clicking on the button below. We would be more than happy to personally take you through the on-boarding process, step-by-step, and answer any questions you may have.</span></p>
              </div>
              <br>
              {{!-- <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6"><a class="btn btn-solid btn-pill btn-white btn-nl btn-block" href="http://silicon.8guild.com/contacts/">Contact Us</a></div>
                  <div class="col-lg-8 col-md-8 col-sm-6"></div>
                </div> --}}
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4"></div>
          </div>
        </div>
      </section>
      <!-- Page Content-->
        <section class="fw-section padding-top-3x padding-bottom-2x">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
                <div class="text-block">
                  <h2 style="text-align: center;">Drop Us A Line</h2>
                </div>
                <div role="form" lang="en-US" dir="ltr">
                  <div class="screen-reader-response"></div>
                  <form method="POST" action="https://formspree.io/peter@telos-technology.com">
                    <div style="display: none;">
                      <input type="hidden" name="" value="359">
                      <input type="hidden" name="version" value="4.8">
                      <input type="hidden" name="locale" value="en_US">
                      <input type="hidden" name="unit_tag" value="wpcf7-f359-p357-o1">
                      <input type="hidden" name="container_post" value="357">
                      <input type="hidden" name="nonce" value="4d6a0f1df1">
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label for="contact_name">Your name</label><br>
                        <span-wrap class="contact_name">
                          <input type="text" name="contact_name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Enter your name">
                        </span-wrap>
                      </div>
                      <div class="col-sm-6">
                        <label for="contact_email">Your e-mail</label><br>
                        <span-wrap class="contact_email">
                          <input id="contact_email" type="email" name="contact_email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Enter your e-mail">
                        </span-wrap>
                      </div>
                    </div>
                    <p>
                      <label for="contact_message">Your message</label><br>
                      <span-wrap class="contact_message">
                        <textarea id="contact_message" name="contact_message" cols="40" rows="10" aria-required="true" aria-invalid="false" placeholder="Enter your message"></textarea>
                        <input type="hidden" name="_next" value="https://telos-technology.com/" />
                      </span-wrap>
                    </p>
                    <div class="text-center" style="padding-top: 10px;">
                      <button class="btn btn-solid btn-pill btn-primary" type="submit">Send Message</button>
                    </div>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      <!-- footer.pug template -->
      <!-- Footer-->
      <footer class="site-footer footer-light" style="background-color: #000000;    font-size: 80%;">
        <div class="container">
          <div class="footer-row">
            <div class="row">
              <!-- contact us -->
              <div class="col-md-4 col-sm-6">
                <section class="widget widget_silicon_contacts" id="silicon_contacts-2">
                  <h3 class="widget-title">Contact Us</h3>
                  <ul>
                    <li><i class="si si-location background-white"></i><span class="contact-label">Find Us</span><span class="contact-info font-family-body">Room 1706, 17/F, OfficePlus@Sheung Wan, 93-103 Wing Lok Street, Sheung Wan, Hong Kong</span></li>
                    <li><i class="si si-phone background-white"></i><span class="contact-label font-family-nav">Call Us</span><a class="contact-info font-family-body" href="tel:+85298825917">(+852) 9882-5917</a></li>
                    <li><i class="si si-email-black background-white"></i><span class="contact-label font-family-nav">Write Us</span><a class="contact-info font-family-body" href="mailto:support@telos-technology.com"> support@telos-technology.com</a></li>
                  </ul>
                </section>
              </div>
              <!-- terms and conditions -->
              <div class="col-md-3 col-sm-6">
                <section class="widget widget_categories" id="categories-3">
                  <h3 class="widget-title">Company</h3>
                  <ul>
                    <li class="cat-item cat-item-39"><a href="/terms">Terms and Conditions</a></li>
                    <li class="cat-item cat-item-42"><a href="/privacy">Privacy Policy</a></li>
                  </ul>
                </section>
              </div>
              <!-- download buttons -->
              <div class="container text-center padding-bottom-2x">
                <div class="text-block">
                </div><a class="market-btn btn-appstore waves-effect" href="#" style="background-image: url(assets/img/appstore.png);"><span>Download on the</span>App Store</a><a class="market-btn btn-playstore waves-effect" href="#" style="background-image: url(assets/img/playstore.png);"><span>Download on the</span>Google Play</a>
              </div>
            </div>
          </div>
          <!-- grey line -->
          <div class="footer-row border-default-top">
            <section class="widget widget_text" id="text-2">
              <div class="textwidget">
                <div class="social-bar text-center" style="margin-bottom:10px;">
                  <a class="social-button sb-facebook sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-facebook unhvrd"></i><i class="socicon-facebook hvrd"></i>
                    </a>
                  <a class="social-button sb-linkedin sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-linkedin unhvrd"></i><i class="socicon-linkedin hvrd"></i>
                    </a>
                  <!-- <a class="social-button sb-twitter sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-twitter unhvrd"></i><i class="socicon-twitter hvrd"></i>
                    </a
                    ><a class="social-button sb-pinterest sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-pinterest unhvrd"></i><i class="socicon-pinterest hvrd"></i></a>--></div>
                <p><a class="block-center" href="/" style="width:135px;"><img alt="Silicon" src="assets/img/tenderguardEng_white.svg"></a></p>
              </div>
            </section>
          </div>
        </div>
      </footer>
    </div>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="si si-angle-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/theme.min.js"></script>
  </main>
</body>
