<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    The Beverly Hills
                </a>
                <a href="/" class="simple-text">
                    比華利山莊
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/currentpolls.html">
                        <i class="pe-7s-graph"></i>
                        <p>NOTICEBOARD<br>
                            通告
                        </p>
                    </a>
                </li>
                <li class="active">
                    <a href="/currentpolls.html">
                        <i class="pe-7s-graph"></i>
                        <p>MEETINGS<br>
                            會議
                        </p>
                    </a>
                </li>
                <li >
                    <a href="/pastpolls.html">
                        <i class="pe-7s-user"></i>
                        <p>Surveys</p>
                        <p>問卷</p>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <i class="pe-7s-science"></i>
                        <p>Contractors and Consultants List
                            <br>
                            顧問及合約商</p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-map-marker"></i>
                        <p>LOG OUT
                            <br>
                            登出</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Add a Meeting | 添加会议</a>
                </div> 
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div class="row page-wrapper">

            <ol class="breadcrumb  custom_breadcumb">
                <li class="breadcrumb-item"><a href="/allMeetings">Meetings</a></li>
                <li class="breadcrumb-item active">Add a meeting</li>
            </ol>

            <div class="div-wrapper">
                <form role="form" name="pollform" enctype="multipart/form-data" action="/saveMeeting" method="post">
                    <div class="form-group col-sm-6">
                        <label>Meeting Title</label>
                        <input type="text" class="form-control" name="meeting_title" required>
                    </div>
                    <div class="form-group col-sm-6">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>会议标题</label>
                        <input type="text" class="form-control" name="meeting_title_chinese" required>
                    </div>
                    <div class="form-group col-sm-6">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Meeting Start Time | 会议开始时间</label>
                        <input type="datetime-local" class="form-control" name="startTime" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Meeting End Time | 会议结束时间</label>
                        <input type="datetime-local" class="form-control" name="endTime" required>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Venue | 地点 </label>
                        <input type="text" class="form-control" name="venue" required>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Agenda | 议程</label>
                        <input type="file" name="filefield" required/> 
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Poll end date and time</label>
                        <input type="datetime-local" class="form-control" name="pollEndTime">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 custom_panel_div">
                        <div class='panel-wrapper-custom'>
                    
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Poll end date and time</label>
                        <p> 
                            <input type="button" class="btn btn-primary poll-btn" value="添加投票 | Add a Poll" id="open_model">
                        </p>
                    </div>
                    <div class="clearfix"></div>
                   
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6 save_btn_wrap">
                        <label></label>   
                        <p>
                            <input type="hidden" name="poll_json" id="poll_json">
                            <input type="submit" class="btn btn-success custom_success_btn" value=" 保存 | Save">
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            
        </div> 

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>
<div id="poll" class="modal  fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a poll</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="#poll_form" id="poll_form">
                    <div class="form-group col-sm-6">
                        <label>Poll title</label>
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>投票标题</label>
                        <input type="text" name="title_chinese" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Project Name</label>
                        <input type="text" name="project_name" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>项目名</label>
                        <input type="text" name="project_name_chinese" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Summary</label>
                        <textarea name="summary" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>概要</label>
                        <textarea type="datetime-local" name="summary_chinese" class="form-control"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Voting options</label>
                            <div class="input_fields_wrap">
                                <button class="add_field_button btn btn-info btn-fill" style="margin-bottom:2%">Add Options/增加選項</button>
                                    <div><input style="display:flex; border-radius: 0px;margin-bottom: 2px !important;" type="text" name="option" placeholder="E.g. Yes/是" required></div>
                            </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Add Documents</label>
                        <p>
                        <button class="add_documents btn btn-info btn-fill" style="margin-bottom:1%">Add documents/上傳文件</button>
                        <div class="documents_wrapper">
                        </div>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="close_model"> 确认 | Confirm</button>
            </div>
        </div>
        
    </div>
      
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //Add documents
        var docWrapper = $(".documents_wrapper")
        var add_document_button = $(".add_documents");
        $(add_document_button).click(function (e) { //on add input button click
            e.preventDefault();
                $(docWrapper).append(`<input type="file" name="filefield"><br />`); //add choose file box
        });
        //Add options
            var optionWrapper         = $(".input_fields_wrap"); //Fields wrapper
            var add_option_button      = $(".add_field_button"); //Add button ID
            $(add_option_button).click(function(e){ //on add input button click
                e.preventDefault();
                    $(optionWrapper).append('<div><input type="text" name="option"/><a href="#" class="remove_field">Remove</a></div>'); //add input box

            });
            $(optionWrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
            })


        var polls_array = [];
        $("#open_model").click(function () {
            $('#poll_form')[0].reset();
            $("#poll").modal();
        
        })
        
        $("#close_model").click(function () {
            
            $("#poll").modal("hide");
            var form_data_array = $("#poll_form").serializeArray();
            console.log(form_data_array);
            var form_json = {};
            form_data_array.forEach(function (obj) {
                form_json[obj.name] = obj.value;
            });
            polls_array.push(form_json);
            $("#poll_json").val(JSON.stringify(polls_array));
            $.ajax({
                url: "/addPollsOfMeeting",
                data: { "pollsofmetting": JSON.stringify(polls_array) },
                type: 'POST',
                success: function (data, textStatus, jqXHR) 
                {
                    console.log(data.meetingsPollData);
                        var html ='';
                        for(i=0;i<data.meetingsPollData.length ; i++)
                        {
                                html+=`<div class="panel-group">
                                    <div class="panel panel-default" '>
                                        <div class="panel-heading">
                                            <a style='color:black' data-toggle="collapse" href="#collapse${i}">
                                        <h4 class="panel-title">
                                            ${data.meetingsPollData[i].title}
                                        </h4>
                                        </div>
                                        </a>
                                        <div id="collapse${i}" class="panel-collapse collapse">
                                        <div class="panel-body" style='text-align:left'>
                                            <div class="form-group col-sm-6">
                                                   <label class='custom_label'>Project Name</label>
                                                   <p>${data.meetingsPollData[i].project_name}</p>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                    <label class='custom_label'>Summary</label>
                                                    <textarea class="form-control input_fields_{{meeting_key}}" name="summary">${data.meetingsPollData[i].summary}</textarea>
                                                    {{!-- <div id='summary_div' class='display_meetings_detail_{{meeting_key}}'>${data.meetingsPollData[i].summary}</div> --}}
                                            </div>
                                            <div class="form-group col-sm-6">
                                                   <label class='custom_label'>项目名</label>
                                                   <p>${data.meetingsPollData[i].project_name_chinese}</p>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                    <label class='custom_label'>概要</label>
                                                    <textarea class="form-control input_fields_{{meeting_key}}" name="summary">${data.meetingsPollData[i].summary_chinese}</textarea>
                                            </div>
                                                     <div class="form-group col-sm-6">
                                                            <label class='custom_label'>Voting option</label>
                                                            <select class="form-control show" name="voating_option">
                                                                <option value="yes">Yes</option>
                                                                <option value="no">No</option>
                                                                <option value="abstain">Abstain</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label>Uploaded Documents</label>
                                                            <table class="table table-bordered table_custom_Wrapper">
                                                                <tr>
                                                                    <th>
                                                                        <label>ID</label>
                                                                    </th>
                                                                    <th>
                                                                        <label>Document name</label>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Agends.pdf</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                        </div>
                                    </div>
                                    </div>`
                        }
                    $('.panel-wrapper-custom').html(html);
                }
            })
        })
    })
</script>