<html>

<head>
          <meta charset="utf-8">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
         <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">   
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script> -->

        <link href="assets/css/animate.min.css" rel="stylesheet"/>
        
        <!--                  Light Bootstrap Table core CSS    -->
        <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
        <!--CSS for Demo Purpose, don't include it in your project-->     
        <link href="assets/css/demo.css" rel="stylesheet" />
        <!--{{!-- css stylesheet for login page  --}}-->
        <link rel="stylesheet" href="assets/css/login.css">

        <!--Fonts and icons-->     
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       
        <!--Core JS Files-->   
        <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
 
        <script type="text/javascript" src="DataTables/datatables.min.js"></script> -->
        <!--Checkbox, Radio & Switch Plugins--> 
        <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

        <!--Charts Plugin--> 
        <script src="assets/js/chartist.min.js"></script>

        <!--Notifications Plugin-->    
        <script src="assets/js/bootstrap-notify.js"></script>

        <!--Light Bootstrap Table Core javascript and methods for Demo purpose--> 
        <script src="assets/js/light-bootstrap-dashboard.js"></script>
        <!--{{!-- jquery --}}-->
        <!--{{!-- login validator --}}-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
        
        <!--{{!-- boostrap js file --}}-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!--{{!-- boostrap confirmation --}}-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

</head>
<script type="text/javascript">
           
           $(document).ready(function () {
                $('#spinnerbig').hide();
                var a="https://script.google.com/macros/s/AKfycbygukdW3tt8sCPcFDlkMnMuNu9bH5fpt7bKV50p2bM/exec?id=1cqTns5ABiz67v6ST-h7mUWwd3zWZ6c1-ToyETH0xpL4&sheet=Categories";
                // alert(a);
                var select="  <select class=\"form-control input-rounded text-semibold\" id=\"category\" name=\"category\">";
                select +=" <option value=\"-1\">None</option>";
                $.get( a, function( data ) {
                    //var json = $.parseJSON(data);
                    for(var i = 0; i < data['Categories'].length; i++) {
                        var obj = data['Categories'][i];
                        var option = "<option value=\""+obj['id']+"\"" +"selected"+">"+obj['name']+"</option>"
                        select +=option;
                    }
                    select +="</select>";
                    $('#spinner').hide();
                    $('#categoryselect').append(select);
                });
                $("#btnsave").click(function(event){
                  event.preventDefault();
                  $('#spinnerbig').show();
                        $('#tblbody').hide();
                        var b="https://script.googleusercontent.com/macros/echo?user_content_key=j5SLDi3010AxHkJ17x7odwTH9-7z7qzqn0zucy_-9UJ8t6FeNwk9sfSC1xtPoaWuQ8Nk-jbi98RktGxpncuZWeqzWMjx1W7zOJmA1Yb3SEsKFZqtv3DaNYcMrmhZHmUMWojr9NvTBuBLhyHCd5hHa1ZsYSbt7G4nMhEEDL32U4DxjO7V7yvmJPXJTBuCiTGh3rUPjpYM_V0PJJG7TIaKp7hGQLcdSyuHgWR9MmX3gZhzaKGcTZmIqkWevjnIbot6-gvkAx5I8N5uxXBVsaeutJL1G7k5khVrzOQ8leImcTU&lib=MbpKbbfePtAVndrs259dhPT7ROjQYJ8yx";
                        var tblbody="";
                        //var categoryid=$('#categoryselect').find(":selected").val();
                       /* if(categoryid == '-1')
                        {
                            alert('Select Category');
                            return;
                        }*/
                        $.ajax({ url: b,
                            type: 'get', 
                            success: function(response){
                                tblbody="";
                                $('#tblbody').html('');
                                $('#tblbody').empty();
                                tblbody="<table class=\"display\" id=\"tablemain\"><thead><tr><th>Posted On</th><th>Tender Deadline</th><th>Notice Title</th></tr></thead> <tbody>";
                                for(var i = 0; i < response['Contacts'].length; i++) {
                                    var obj = response['Contacts'][i];
                                    var mPath = "http://localhost:4000/login"
                                    var date = moment(obj['Tender_Deadline']).format("DD/MM/YYYY");
                                    /*if(obj['category'] == categoryid) {*/
                                        var option =  "<tr onclick='redirect()' style='cursor: pointer;'><td>"+obj['Posted_On']+"</td><td>"+date+"</td><td>"+obj['Notice_Title']+"</td></tr>"
                                        tblbody +=option;
                                   // }
                                }
                                $('#spinnerbig').hide();
                                $('#tblbody').show();
                                tblbody +="</tbody></table>";
                                $('#tblbody').html(tblbody);
                                $('#tablemain').DataTable({
                                    "scrollX": true
                                });
                            }  
                        });
                })
               /* $('#form').validate({     
                    rules:{            
                    },    
                    submitHandler : function(form)  
                    {
                        $('#spinnerbig').show();
                        $('#tblbody').hide();
                        var b="https://script.googleusercontent.com/macros/echo?user_content_key=j5SLDi3010AxHkJ17x7odwTH9-7z7qzqn0zucy_-9UJ8t6FeNwk9sfSC1xtPoaWuQ8Nk-jbi98RktGxpncuZWeqzWMjx1W7zOJmA1Yb3SEsKFZqtv3DaNYcMrmhZHmUMWojr9NvTBuBLhyHCd5hHa1ZsYSbt7G4nMhEEDL32U4DxjO7V7yvmJPXJTBuCiTGh3rUPjpYM_V0PJJG7TIaKp7hGQLcdSyuHgWR9MmX3gZhzaKGcTZmIqkWevjnIbot6-gvkAx5I8N5uxXBVsaeutJL1G7k5khVrzOQ8leImcTU&lib=MbpKbbfePtAVndrs259dhPT7ROjQYJ8yx";
                        var tblbody="";
                        var categoryid=$('#categoryselect').find(":selected").val();
                        if(categoryid == '-1')
                        {
                            alert('Select Category');
                            return;
                        }
                        $.ajax({ url: b,
                            type: 'get', 
                            success: function(response){
                                tblbody="";
                                $('#tblbody').html('');
                                $('#tblbody').empty();
                                tblbody="<table class=\"display\" id=\"tablemain\"><thead><tr><th>Posted On</th><th>Tender Deadline</th><th>Notice Title</th><th>Estate</th><th>District</th></tr></thead> <tbody>";
                                for(var i = 0; i < response['Contacts'].length; i++) {
                                    var obj = response['Contacts'][i];
                                    if(obj['category'] == categoryid) {
                                        var option = "<tr><td>"+obj['Posted_On']+"</td><td>"+obj['Tender_Deadline']+"</td><td>"+obj['Notice_Title']+"</td><td>"+obj['Estate']+"</td><td>"+obj['District']+"</td></tr>"
                                        tblbody +=option;
                                    }
                                }
                                $('#spinnerbig').hide();
                                $('#tblbody').show();
                                tblbody +="</tbody></table>";
                                $('#tblbody').html(tblbody);
                                $('#tablemain').DataTable({
                                    "scrollX": true
                                });
                            }  
                        });
                        
                    }
                });*/

            });
        </script>

<!-- Body-->
<style>
  h2 {
    /* font-family: ""*/
  }

  {
    /*body{
      font-family: -webkit-body !important;
}*/
  }

  @media screen and (max-width: 480px) {
    #hide {
      display: none;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 400px) {
    #show {
      display: block;
    }
  }

  @media (max-height: 1099px) {
    .intro-app-showcase {
      padding: 0px 0;
      display: inline-block;
      margin: 0px 0;
    }
  }

  @media only screen and (max-width: 812px) {
    .aws-img-mobile {
      content: url("assets/img/landing-page/security-flow-english-phone 3.svg") !important;
      background-size: 134%;
      width: 60%;
      padding-top: 25px;
      display: block;
      margin: 0 auto;
    }
    /* .sponsors-mobile {
      content: url("assets/img/landing-page/sponsors-mobile.jpg") !important;
      background-size: 134%;
      width: 60%;
      padding-top: 25px;
      display: block;
      margin: 0 auto;
    } */
    .mobile-show {
      display: block;
    }
    .mobile-hide {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .gadget-ios {
      width: auto !important;
    }
    .gadget-android {
      width: auto !important;
    }
    .gadget-windows {
      width: auto !important;
    }
    .intro-app-showcase {
      padding-top: 0px;
    }
  }

  .intro-app-showcase {
    height: 100%;
  }

  {
    /*.aws-img{
    content:url("assets/img/landing-page/security-flow-english.svg");
    background-size: 134%;
  }*/
  }

  .mobile-show {
    display: none;
  }

  .mobile-hide {
    display: block;
  }

  .intro-app-showcase .platform-swith>a {
    height: 30px;
    padding: 0 5px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 30px;
    text-decoration: none;
    width: 105px;
    margin: 0 0px;
    display: inline-block;
    box-sizing: content-box;
  }
   .hide-menu{
    left: -617px  !important;
    /*display: none !important;*/
  }
  .mobmenu{
    transform: translate3d(0, 0, 0) !important;
  }
  .tabl-header{
        position: relative;
        min-height: 75px;
        -webkit-transition: all .35s;
        transition: all .35s;
        background-color: #fff;         
        padding: 0px;
    }
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    .loaderbig {
        position: absolute;
        left: 53%;
        top: 187%;
        z-index: 1;
        width: 55px;
        height: 55px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;         
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    input,select{
        display: block;
        width: 100%;
        min-height: 40px;
        height: 40px;
        padding: 10px 48px;
        border: 1px solid #eee;
        border-radius: 2px;
        color: #656565;
        background-color: #fff !important;
        background-image: none;
        font-size: 13px;
        line-height: 13px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .tabl-header input:hover,.tabl-header select:hover {
        border-color: #5e35b1 !important;
    }
    .tabl-header button,.tabl-header #categoryselect{
        margin: 0px;
    }

    .tabl-header #categoryselect select{
        padding: 0 10px;
        height: 45px;
    }
    #datatable{
        max-width: 918px;
        margin: 0 auto;
    }
    #datatable .dataTables_scrollBody{
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    #datatable table{
        width: 100% !important;
    }
    #datatable .dataTables_length{
        width: 100%;
        display: inline-block;
        max-width: 359px;
    }
    #datatable .dataTables_length,.dataTables_wrapper .dataTables_filter{
        margin: 35px 0 20px 0;
        width: 360px;
    }
    #datatable .dataTables_length label{
        display: inline-flex;
        line-height: 43px;
        width: 100%;
        font-size: 16px;
    }
    #datatable .dataTables_length label select{
        margin: 0 10px;
        width: 100%;
        display: inline-block;
    }
    #datatable #tablemain_filter label{
        display: inline-block;
        line-height: 40px;
        font-size: 16px;
        width: 100%;
    }
    #datatable #tablemain_filter input{
        margin: 0px;
        float: right;
        width: 100%;
        max-width: 249px;
        margin-left: 10px;
    }   

    /*pagination css*/
    #datatable .dataTables_info, #datatable .dataTables_paginate{
        margin-top: 30px;
    }
    #datatable .paginate_button{
        box-shadow: none;
        background: #fdfdfd !important;
        margin: 0 !important;
        border-radius: 0 !important;
     }
    #datatable .paginate_button:hover{
        box-shadow: none !important;
        background-color: #5e35b1 !important;
        border-color: #5e35b1 !important;
        color: #fff !important;        
    }
    #datatable table.dataTable thead th{
        text-align: center;
    }
    #datatable table.dataTable thead th,#datatable table.dataTable thead td{
        background-color: #1d1d26;
        color: #fff;
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
    }
    #datatable table.dataTable tbody th, table.dataTable tbody td{
        padding: 15px 10px;
    }
    #datatable table.dataTable tbody tr td{
        background-color: #fff !important;
        color: #222;
        font-family: SF-Display-Regular, sans-serif;
        border-right: 1px solid #eee;
    }
    #datatable table.dataTable tbody tr td:hover{
        background-color: #f1f1f1 !important;
    }
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    @media only screen and (max-width: 767px) {
        #datatable .dataTables_info, #datatable .dataTables_paginate{
            margin-top: 0px;
        }
        #datatable .dataTables_length label select option{
            text-align: center;
        }
        #datatable .dataTables_length{
            max-width: 100%;
            margin: 20px 0 0 0;
        }
        #datatable #tablemain_filter input{
            width: 100%;
            max-width: 89%;
        }
        #datatable #tablemain_filter label{
            width: 100%;
            max-width: 100%;
        }
        #datatable #tablemain_filter{
            width: 100%;
            max-width: 100%;
            margin: 10px 0;
        }
        footer ul li a{
            text-align: center;
        }
        .footer .copyright{
            text-align: center;
        }
    }
    @media only screen and (max-width: 414px) {
        #datatable #tablemain_filter input{
            max-width: 318px;
        }
    }
    @media only screen and (max-width: 375px) {
        #datatable #tablemain_filter input{
            max-width: 280px;
        }
    }

     
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
</style>

<body id="fontId" style="overflow: hidden;
    width: 100%;
    height: 100%;">
  <div class="loading-screen">
    <div class="inner">
      <div class="preloader-logo" style="width: 90px;"><img class="attachment-full size-full" src="assets/img/telos.svg" alt="Telos Technology"></div>
      <div class="progress-wrap">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <div class="offcanvas-container mobile-menu hide-menu" id="navBar">

    <nav class="main-navigation font-family-nav">
      <ul class="menu">
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>


        </li>
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/app"><span>App</span></a>

        </li>
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contact"><span>Contact</span></a>

        </li>

        <li class="menu-item menu-item-has-children"><a href="/about"><span>About</span></a>


        </li>

        <li class="menu-item menu-item-has-children"><a href="/contractorchn"><span>繁體中文</span></a>


        </li>

      </ul>
    </nav>
  </div>
  <!-- Page Wrapper-->
  <main class="page-wrapper">
    <!-- Site header-->
    <header class="site-header header-fullwidth">
      <!-- Topbar-->
      <div class="navbar-horizontal border-default-bottom" id="hidehorizontal">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle" id="menu">
              <i class="si si-menu"></i></div>
            <a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.svg"></a><a class="mobile-logo" href="assets/index.html" style="width: 120px;"><img alt="" src="assets/img/telos.svg"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav navclass">
            <ul class="menu navinside">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/app"><span>App</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contact"><span>Contact</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/about">About</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/contractorchn">繁體中文</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="navbar-horizontal navbar-sticky border-default-bottom">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle" id="menu"><i class="si si-menu"></i></div><a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.svg"></a><a class="mobile-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.svg"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav navclass">
            <ul class="menu navinside">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/app"><span>App</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contact"><span>Contact</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/about">About</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/contractorchn">繁體中文</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="fw-section layout-full overflow-hidden" data-offset-top="-2" style="background-color: #ffffff;">
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12  padding-top-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-black font-family-headings">Looking for projects?</span></h1>
            </div>
            <div class="text-block padding-top-1x">
              <p style="text-align: center; font-size:24px"><span class="text-gray">Contractors using our platform receive information about new projects faster and more frequently than others; as a result, they have been able to significantly streamline their workflow. Our mission: find you as many clients so you can rapidly grow your business.</span></p>
            </div>
            <div class="text-center"><a class="btn btn-solid btn-pill btn-nl margin-top-1x" href="https://tender.telos-technology.com/login" style="font-size:14px">Login / Sign Up<i class="si si-arrow-right"></i></a><a class="btn btn-solid btn-pill btn-nl margin-top-1x" href="" style="font-size:14px">Contact Sales<i class="si si-arrow-right"></i></a></div>
          </div>
          <div class="col-lg-7 col-sm-12"><img class="block" width="1080" height="621" src="img/home/macbook_angular.png" alt=""></div>
        </div>
        <div class="row">
            <div>

                <header class="tabl-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-4">
                                <div class="row">
                                    <form role="form" method="post" id="form">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-9 text-center">
                                            <div class="form-group" id="">
                                                 <div style="padding-top: 5%"><button type="submit" class="btn btn-default btn-primary" name="btnsave" value="btnsave" id="btnsave">Show All Tender Notices</button></div>
                                            </div>

                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                            
                                        </div>                                        

                                    </form> 

                                </div>                       
                            </div>

                        </div>

                    </div>
                    <div class="loaderbig" id="spinnerbig"></div>
                </header>        

                <div class="data-table-wrapper">

                    <div class="container-fluid">
                        <div class="row">                
                            <div class="col-xs-12">
                                <div id="datatable">
                                    <div id="tblbody"></div>
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
               
                <div class="content" style="padding-bottom:70px; min-height:10vh">
                </div>            
        </div>
      </div>
      
    </section>

    <!-- flow section -->
    <section class="fw-section layout-full padding-top-5x overflow-hidden" data-offset-top="-2" style="background-color: #101010;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 col-sm-12 padding-top-3x padding-bottom-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-light font-family-headings">1. We send you project requests instantly</span></h1>
            </div>
            <div class="text-block padding-top-1x">
              <p style="text-align: center; font-size:24px"><span class="text-light opacity-60">We will email you any time a client posts a project requiring your field of expertise. Don't worry, we ensure that project requests are legitimate before notifying you.</span></p>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12"><img class="block" width="1080" height="621" src="assets/img/source/screen-1.svg" alt=""></div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full-equal section-no-gap overflow-hidden padding-top-5x" data-offset-top="180" style="background-color: #1a1a1a;">
      <div class="container-fluid">
        <div class="row">
          <div class="">
            <div class="">
              <div class="col-lg-7 col-sm-12 "><img class="block" width="1080" height="621" src="assets/img/source/screen-2.svg" alt=""></div>
              <div class="col-sm-5 padding-top-3x padding-bottom-4x">
                <div class="text-block">
                  <h1 style="text-align: center;"><span class="font-family-headings text-light">2. You decide which projects to take on.</span></h1>
                </div>
                <div class="text-block padding-top-1x">
                  <p style="text-align: center; font-size:24px"><span class="text-light opacity-60">If you're interested in a project, just click "interested" and the client will immediately be notified. After viewing your profile, work history, and reviews, the client will contact you through our platform if you meet their requirements.</span></p>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full padding-top-5x overflow-hidden" data-offset-top="-2" style="background-color: #101010;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 col-sm-12 padding-top-3x padding-bottom-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-light font-family-headings">3. Bid.</span></h1>
            </div>
            <div class="text-block padding-top-1x">
              <p style="text-align: center; font-size:22px"><span class="text-light opacity-60">The client will contact you through our chat function to discuss project details and share relevant documents. Submit your quotation through our platform, or physically deliver a tender if requested.</span></p>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12"><img class="block" width="1080" height="621" src="assets/img/source/screen-3.svg" alt=""></div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full-equal section-no-gap overflow-hidden padding-top-5x" data-offset-top="180" style="background-color: #1a1a1a;">
      <div class="container-fluid">
        <div class="row">
          <!-- <div class="col-lg-7 col-sm-12" style="background-image: url(img/home/chart_d3.png);"></div> -->
          <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12 padding-top-3x padding-bottom-4x">
            <div class="row">
              <div class="col-sm-12">
                <div class="text-block">
                  <h1 style="text-align: center;"><span class="font-family-headings text-light">4. Done. Get hired and commence work.</span></h1>
                </div>
                <div class="text-block padding-top-1x">
                  <p style="text-align: center; font-size:24px"><span class="text-light opacity-60">The client will evaluate all applications, and decide who to award the project to.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full-equal section-no-gap overflow-hidden padding-top-4x" data-offset-top="180" style="background-color: #ffffff;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 padding-top-4x padding-bottom-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-black font-family-headings">Never miss a potential project.</span></h1>
            </div>
            <div class="text-center"><a class="btn btn-solid btn-pill btn-nl margin-top-1x" href="https://tender.telos-technology.com/login" style="font-size:14px">Login / Sign Up<i class="si si-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
    </section>


    <footer class="site-footer footer-light" style="background-color: #000000;    font-size: 80%;">
      <div class="">
        <div class="footer-row">
          <div class="row">
            <!-- contact us -->
            <div class="col-md-4 col-sm-6">
              <section class="widget widget_silicon_contacts" id="silicon_contacts-2">
                <h3 class="widget-title">Contact Us</h3>
                <ul>
                  <li><i class="si si-location background-white"></i><span class="contact-label">Find Us</span><span class="contact-info font-family-body">Room 1706, 17/F, OfficePlus@Sheung Wan, 93-103 Wing Lok Street, Sheung Wan, Hong Kong</span></li>
                  <li><i class="si si-phone background-white"></i><span class="contact-label font-family-nav">Call Us</span><a class="contact-info font-family-body" href="tel:+85221160950">(+852) 2116-0950</a></li>
                  <li><i class="si si-email-black background-white"></i><span class="contact-label font-family-nav">Write Us</span><a class="contact-info font-family-body" href="mailto:support@telos-technology.com">support@telos-technology.com</a></li>
                </ul>
              </section>
            </div>
            <!-- terms and conditions -->
            <div class="col-md-3 col-sm-6">
              <section class="widget widget_categories" id="categories-3">
                <h3 class="widget-title">Telos Technology ltd</h3>
                <ul>
                  <li class="cat-item cat-item-39"><a href="/terms">Terms and Conditions</a></li>
                  <li class="cat-item cat-item-42"><a href="/privacy">Privacy Policy</a></li>
                </ul>
              </section>
            </div>
            <!-- download buttons -->
            <div class="container text-center padding-bottom-2x">
              <div class="text-block">
              <!-- </div><a class="market-btn btn-appstore waves-effect" href="#" style="background-image: url(assets/img/appstore.png);"><span>Download on the</span>App Store</a><a class="market-btn btn-playstore waves-effect" href="#" style="background-image: url(assets/img/playstore.png);"><span>Download on the</span>Google Play</a> -->
            </div>
          </div>
        </div>
        <!-- grey line -->
        <div class="footer-row border-default-top">
          <section class="widget widget_text" id="text-2">
            <div class="textwidget">
              <div class="social-bar text-center" style="margin-bottom:10px;">
                <a class="social-button sb-facebook sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-facebook unhvrd"></i><i class="socicon-facebook hvrd"></i>
                  </a>
                <a class="social-button sb-linkedin sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-linkedin unhvrd"></i><i class="socicon-linkedin hvrd"></i>
                  </a>
                <!-- <a class="social-button sb-twitter sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-twitter unhvrd"></i><i class="socicon-twitter hvrd"></i>
                  </a
                  ><a class="social-button sb-pinterest sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-pinterest unhvrd"></i><i class="socicon-pinterest hvrd"></i></a>--></div>
              <p><a class="block-center" href="/" style="width:80px;"><img alt="Silicon" src="assets/img/telos-black.svg"></a></p>
            </div>
          </section>
        </div>
      </div>
    </footer>

  </main>
</body>
<script type="text/javascript">
    $(document).ready(function () {
       $("#menu").click(function(event){
        var open = $("#navBar").hasClass( "hide-menu" )
        if(open === false){
           $("#navBar").removeClass("offcanvas-container.mobile-menu")
        $("#navBar").addClass('hide-menu')
        $("#hidehorizontal").addClass("mobmenu")
        }
        else{
           $("#navBar").removeClass("hide-menu")
           $("#hidehorizontal").removeClass("mobmenu")
        }
       
      })      
    })

    function redirect (){
        window.location.href= "https://tender.telos-technology.com/login"
    }
    

    </script>
    
