<html>
<head>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<style>
.hide-menu{
    left: -100% !important;
    /*display: none !important;*/
  }
  .mobmenu{
    transform: translate3d(0, 0, 0) !important;
  }
  </style>
  <div class="loading-screen">
    <div class="inner">
      <div class="preloader-logo" style="width: 90px;"><img class="attachment-full size-full" src="assets/img/telos.svg"></div>
      <div class="progress-wrap">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <div class="offcanvas-container mobile-menu hide-menu" id="navBar">
    <nav class="main-navigation font-family-nav">
      <ul class="menu">
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/sourcechn"><span>主頁</span></a>

        </li>
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/appchn"><span>App</span></a>

        </li>
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contactchn"><span>聯絡</span></a>

        </li>
        <li class="menu-item menu-item-has-children"><a href="/aboutchn">關於</a>

        </li>
        <li class="menu-item menu-item-has-children"><a href="/contractor">English</a>

        </li>
      </ul>
    </nav>

  </div>
  <!-- Page Wrapper-->
  <main class="page-wrapper">
    <!-- Site header-->
    <header class="site-header header-fullwidth">
      <!-- Topbar-->
      <div class="navbar-horizontal border-default-bottom" id="hidehorizontal">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle" id="menu">
              <i class="si si-menu"></i></div>
            <a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.svg"></a><a class="mobile-logo" href="assets/index.html" style="width: 120px;"><img alt="" src="assets/img/telos.svg"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav">
            <ul class="menu">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/sourcechn"><span>主頁</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/appchn"><span>App</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contactchn"><span>聯絡</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/aboutchn">關於</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/contractor">English</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="navbar-horizontal navbar-sticky border-default-bottom">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle" id="menu"><i class="si si-menu"></i></div><a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.svg"></a><a class="mobile-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.svg"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav">
            <ul class="menu">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/sourcechn"><span>主頁</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/appchn"><span>App</span></a>

              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/contactchn"><span>聯絡</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/aboutchn">關於</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/contractor">English</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="fw-section layout-full padding-top-5x overflow-hidden" data-offset-top="-2" style="background-color: #ffffff;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 padding-top-4x padding-bottom-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-black font-family-headings">還在到處尋找項目？</span></h1>
            </div>
            <div class="text-block padding-top-1x">
              <p style="text-align: center; font-size:24px"><span class="text-gray">使用我們免費快速的平台，更頻繁地獲取有關新項目的信息。我們的使命：為您找到盡可能多的客戶，以便快速發展您的業務。</span></p>
            </div>
            <div class="text-center"><a class="btn btn-solid btn-pill btn-nl margin-top-1x" href="#" style="font-size:16px">登入 / 註冊<i class="si si-arrow-right"></i></a><a class="btn btn-solid btn-pill btn-nl margin-top-1x" href="/contactchn" style="font-size:16px">聯絡<i class="si si-arrow-right"></i></a></div>
          </div>
          <!-- <div class="col-lg-7 col-sm-12"><img class="block" width="1080" height="621" src="img/home/macbook_angular.png" alt=""></div> -->
        </div>
      </div>
    </section>

    <!-- flow section -->
    <section class="fw-section layout-full padding-top-5x overflow-hidden" data-offset-top="-2" style="background-color: #101010;">
      <div class="container-fluid">
        <div class="row">
          <!-- <div class="gadget-ios active" data-platform="#ios"><img src="assets/img/source/screen-1.svg" alt="Ios"></div> -->
          <div class="col-lg-5 col-sm-12 padding-top-3x padding-bottom-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-light font-family-headings">1. 一有 project，即刻告知。</span></h1>
            </div>
            <div class="text-block padding-top-1x">
              <p style="text-align: center; font-size:24px"><span class="text-light opacity-60">一有新的，適合您的項目，我們的人工智能系統會隨時通過電子郵件告知您。</span></p>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12"><img class="block" width="1080" height="621" src="assets/img/source/screen-1.svg" alt=""></div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full-equal section-no-gap overflow-hidden padding-top-5x" data-offset-top="180" style="background-color: #1a1a1a;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-sm-12 padding-top-3x padding-bottom-4x">
            <div class="row">
               <div class="col-lg-6 col-sm-12"><img class="block" width="1080" height="621" src="assets/img/source/screen-2.svg" alt=""></div>
              <div class="col-sm-6">
                <div class="text-block">
                  <h1 style="text-align: center;"><span class="font-family-headings text-light">2.建築項目，有您選擇。</span></h1>
                </div>
                <div class="text-block padding-top-1x">
                  <p style="text-align: center; font-size:24px"><span class="text-light opacity-60">如果您對某個項目感興趣，只需點擊 “感興趣”，即可通知客戶。您與客戶可隨時在平台即時溝通，即刻了解項目需求。</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full padding-top-5x overflow-hidden" data-offset-top="-2" style="background-color: #101010;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 col-sm-12 padding-top-3x padding-bottom-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-light font-family-headings">3. 投標。</span></h1>
            </div>
            <div class="text-block padding-top-1x">
              <p style="text-align: center; font-size:22px"><span class="text-light opacity-60">您可直接在平台閱讀詳細信息，無需親臨大廈獲取標書。如有疑問可直接在平台與大廈溝通。報價，投標從未如此簡單。</span></p>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12"><img class="block" width="1080" height="621" src="assets/img/source/screen-3.svg" alt=""></div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full-equal section-no-gap overflow-hidden padding-top-5x" data-offset-top="180" style="background-color: #1a1a1a;">
      <div class="container-fluid">
        <div class="row">
          <!-- <div class="col-lg-7 col-sm-12" style="background-image: url(img/home/chart_d3.png);"></div> -->
          <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12 padding-top-3x padding-bottom-4x">
            <div class="row">
              <div class="col-sm-12">
                <div class="text-block">
                  <h1 style="text-align: center;"><span class="font-family-headings text-light">4. 下一步，開工！</span></h1>
                </div>
                <div class="text-block padding-top-1x">
                  <p style="text-align: center; font-size:24px"><span class="text-light opacity-60">大廈會評估所有合約商，最後選擇并簽署合約。</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fw-section layout-full-equal section-no-gap overflow-hidden padding-top-4x" data-offset-top="180" style="background-color: #ffffff;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 padding-top-4x padding-bottom-4x">
            <div class="text-block">
              <h1 style="text-align: center;"><span class="text-black font-family-headings">有天羅，您不會錯過任何機會。</span></h1>
            </div>
            <div class="text-center"><a class="btn btn-solid btn-pill btn-nl margin-top-1x" href="#" style="font-size:16px">登入 / 註冊<i class="si si-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
    </section>


    <footer class="site-footer footer-light" style="background-color: #000000;    font-size: 80%;">
      <div class="container">
        <div class="footer-row">
          <div class="row">
            <!-- contact us -->
            <div class="col-md-4 col-sm-6">
              <section class="widget widget_silicon_contacts" id="silicon_contacts-2">
                <h3 class="widget-title">聯絡我們</h3>
                <ul>
                  <li><i class="si si-location background-white"></i><span class="contact-label">地點</span><span class="contact-info font-family-body">香港上環, 永樂街93-103號, 上環OfficePlus 17樓, 1706室</span></li>
                  <li><i class="si si-phone background-white"></i><span class="contact-label font-family-nav">聯絡電話</span><a class="contact-info font-family-body" href="tel:+85221160950">(+852) 2116-0950</a></li>
                  <li><i class="si si-email-black background-white"></i><span class="contact-label font-family-nav">電郵</span><a class="contact-info font-family-body" href="mailto:support@telos-technology.com">support@telos-technology.com</a></li>
                </ul>
              </section>
            </div>
            <!-- terms and conditions -->
            <div class="col-md-3 col-sm-6">
              <section class="widget widget_categories" id="categories-3">
                <h3 class="widget-title">天羅科技有限公司</h3>
                <ul>
                  <li class="cat-item cat-item-39"><a href="/termschn">法律條款</a></li>
                  <li class="cat-item cat-item-42"><a href="/privacychn">隱私權</a></li>
                </ul>
              </section>
            </div>
            <!-- download buttons -->
            <div class="container text-center padding-bottom-2x">
              <div class="text-block">
                <!-- </div><a class="market-btn btn-appstore waves-effect" href="#" style="background-image: url(assets/img/appstore.png);"><span>Download on the</span>App Store</a><a class="market-btn btn-playstore waves-effect" href="#" style="background-image: url(assets/img/playstore.png);"><span>Download on the</span>Google Play</a> -->
              </div>
            </div>
          </div>
          <!-- grey line -->
          <div class="footer-row border-default-top">
            <section class="widget widget_text" id="text-2">
              <div class="textwidget">
                <div class="social-bar text-center" style="margin-bottom:10px;">
                  <a class="social-button sb-facebook sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-facebook unhvrd"></i><i class="socicon-facebook hvrd"></i>
                  </a>
                  <a class="social-button sb-linkedin sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-linkedin unhvrd"></i><i class="socicon-linkedin hvrd"></i>
                  </a>
                  <!-- <a class="social-button sb-twitter sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-twitter unhvrd"></i><i class="socicon-twitter hvrd"></i>
                  </a
                  ><a class="social-button sb-pinterest sb-shape-no sb-monochrome sb-light" href="#">
                    <i class="socicon-pinterest unhvrd"></i><i class="socicon-pinterest hvrd"></i></a>--></div>
                <p><a class="block-center" href="/" style="width:80px;"><img alt="Silicon" src="assets/img/telos-black.svg"></a></p>
              </div>
            </section>
          </div>
        </div>
    </footer>

  </main>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
       $("#menu").click(function(event){
        console.log("hello")
        var open = $("#navBar").hasClass( "hide-menu" )
        console.log("open", open)
        if(open === false){
           /*$("#navBar").removeClass("offcanvas-container.mobile-menu")*/
        $("#navBar").addClass('hide-menu')
        $("#hidehorizontal").addClass("mobmenu")
        }
        else{
           $("#navBar").removeClass("hide-menu")
           $("#hidehorizontal").removeClass("mobmenu")
        }
       
      })
    })

    </script>