<html>
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>

</head>


<!-- Body-->

<body id="fontId">
<style>
{/*body{
      font-family: -webkit-body !important;
}*/}
@media screen and (max-width: 480px){
  #hide{
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px){
  #show{
    display: block;
  }
}
@media (max-height: 1099px){
  .intro-app-showcase {
      padding: 0px 0;
      display: inline-block;
      margin: 50px 0;
  }
}

@media only screen and (max-width: 812px)  {

  .aws-img-mobile{
    content:url("assets/img/landing-page/security-flow-chinese-phone.svg") !important;
    background-size: 134%;
    padding-top: 25px;
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .mobile-show{
    display: block;
  }
  .mobile-hide{
    display: none;
  }

}

@media only screen and (max-width: 767px)  {
  .gadget-ios{
    width:auto !important;
  }
  .gadget-android{
    width:auto !important;
  }
  .gadget-windows{
    width:auto !important;
  }
  .intro-app-showcase{
    padding-top: 0px;
  }
}

.intro-app-showcase{
  height: 100%;
}
.mobile-show{
  display: none;
}
.mobile-hide{
  display: block;
}
.intro-app-showcase .platform-swith>a {
    height: 30px;
    padding: 0 5px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 30px;
    text-decoration: none;
    width: 105px;
    margin: 0 0px;
    display: inline-block;
    box-sizing: content-box;
  }
  </style>
  <div class="loading-screen">
    <div class="inner">
      <div class="preloader-logo" style="width: 90px;"><img class="attachment-full size-full" src="assets/img/telos.png"></div>
      <div class="progress-wrap">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <div class="offcanvas-container mobile-menu">

    <nav class="main-navigation font-family-nav">
      <ul class="menu">
        <li class="active menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn"><span>主頁</span></a>


        </li>
        {{!-- <li class="menu-item menu-item-has-children"><a href="/">過往用戶</a>


        </li> --}}

        <li class="menu-item menu-item-has-children"><a href="/aboutchn"><span>關於</span></a>


        </li>
        <li class="menu-item menu-item-has-children"><a href="/"><span>English</span></a>


        </li>

      </ul>
    </nav>
    <section class="widget widget_silicon_button padding-top-1x" style="padding-left: 30px; padding-right: 30px;"><a class="btn btn-solid btn-pill btn-danger btn-nl btn-block waves-effect waves-light" href="#">Contact Us</a><span class="text-sm"></span></section>
  </div>
  <!-- <div class="offcanvas-container offcanvas-cart">
      <header class="cart-header">
        <div class="column">
          <h3 class="cart-title">Cart</h3>
        </div>
        <div class="column"><a class="view-cart-link font-family-nav navi-link-hover-color" href="shop/cart.html">View Cart                        <i class="si si-angle-right"></i></a></div>
      </header>
      <div class="si-wc-ajax-cart">
        <div class="woocommerce-mini-cart cart_list product_list_widget product-items">
          <div class="woocommerce-mini-cart-item product-item">
            <h4 class="product-title"><span>1 x</span><a class="navi-link-hover-color" href="shop/singleProduct.html"></a>Bellabeat Leaf Health Tracker.</h4><span class="product-price font-family-headings"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>99.99</span></span><a class="remove-from-cart" href="#" data-product_id="296" data-product_sku=""><i class="si si-cross"></i></a>
          </div>
          <div class="woocommerce-mini-cart-item product-item">
            <h4 class="product-title"><span>1 x</span><a class="navi-link-hover-color" href="shop/singleProduct.html"></a>Mevo Camera.</h4><span class="product-price font-family-headings"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>399.99</span></span><a class="remove-from-cart" href="#" data-product_id="294" data-product_sku=""><i class="si si-cross"></i></a>
          </div>
          <div class="woocommerce-mini-cart-item product-item">
            <h4 class="product-title"><span>1 x</span><a class="navi-link-hover-color" href="shop/singleProduct.html"></a>Libratone Coolweave Mesh Fabric.</h4><span class="product-price font-family-headings"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>19.99</span></span><a class="remove-from-cart" href="#" data-product_id="298" data-product_sku=""><i class="si si-cross"></i></a>
          </div>
          <div class="woocommerce-mini-cart-item product-item">
            <h4 class="product-title"><span>4 x</span><a class="navi-link-hover-color" href="shop/singleProduct.html"></a>HEOS Wireless Speaker.</h4><span class="product-price font-family-headings"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>199.00</span></span><a class="remove-from-cart" href="#" data-product_id="341" data-product_sku=""><i class="si si-cross"></i></a>
          </div>
        </div>
        <footer class="cart-footer">
          <div class="cart-subtotal font-family-headings">
            <div class="column">Subtotal:</div>
            <div class="column"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>1,315.97</span></div>
          </div><a class="btn btn-pill btn-ghost btn-success btn-block" href="shop/checkout.html">Checkout</a>
        </footer>
      </div>
    </div> -->
  <!-- Page Wrapper-->
  <main class="page-wrapper" style="background-color: #ffffff;">
    <!-- Site header-->
    <header class="site-header header-fullwidth header-floating">
      <div class="navbar-horizontal navbar-ghost menu-skin-light border-default-bottom">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle">
              <i class="si si-menu"></i>
            </div><a class="site-logo" href="/" style="width: 120px;">
                <img alt="Telos Technology" style="width:50%" src="assets/img/telos_white.png"></a>
            <a class="mobile-logo" href="/" style="width: 120px;">
                  <img style="width:50%" alt="Telos Technology" src="assets/img/telos_white.png">
                </a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav">
            <ul class="menu">
              <li class="active menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn"><span>主頁</span></a>

              </li>
              {{!-- <li class="menu-item menu-item-has-children"><a href="/">過往用戶</a>
              </li> --}}
              <li class="menu-item menu-item-has-children"><a href="/aboutchn"><span>關於</span></a>

              </li>
              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/">English</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="navbar-horizontal navbar-sticky border-default-bottom">
        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle"><i class="si si-menu"></i></div><a class="site-logo" href="/" style="width: 120px;"><img style="width:50%" alt="Telos Technology" src="assets/img/telos.png"></a><a class="mobile-logo" href="/" style="width: 120px;"><img style="width:50%" alt="Telos Technology" src="assets/img/telos.png"></a>
          </div>
        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav">
            <ul class="menu">
              <li class="active menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn"><span>主頁</span></a>

              </li>
              {{!-- <li class="menu-item menu-item-has-children"><a href="/">過往用戶</a>

              </li> --}}
              <li class="menu-item menu-item-has-children">
                <a href="/aboutchn">關於</a>
              </li>
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/">English</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- Content Wrapper-->
    <div class="content-wrapper">
      <!-- page-title.pug template-->
      <!-- Page Content-->
      <section class="fw-section layout-full section-no-gap main-intro background-gradient">
        <div class="container-fluid padding-top-1x padding-bottom-1x">
          <div class="main-intro-glare" style="background-image: url(assets/img/home/main_intro_glare.png?id=733) !important;"> </div>
        </div>
      </section>




      <!--main section -->
      <section class="layout-full section-no-gap with-parallax main-intro-bg padding-top-10x padding-bottom-10x" data-offset-top="180" data-jarallax="{&quot;type&quot;:&quot;scroll&quot;,&quot;speed&quot;:0.4,&quot;imgWidth&quot;:1920,&quot;imgHeight&quot;:1200,&quot;noAndroid&quot;:&quot;true&quot;,&quot;noIos&quot;:&quot;true&quot;}"
        style="background-image: url(assets/img/home/main_hero_bg.png);">
        <div class="container-fluid">
          <div class="visible-lg" style="height: 140px;"></div>
          <div class="visible-md" style="height: 80px;"></div>
          <div class="visible-sm visible-xs" style="height: 40px;"></div>
          <div class="text-block">
            <h1 style="text-align: center;"><span class="text-primary"><span class="text-light" style="color: #f2f2f2 !important;"> 迎接新一代物業管理 </span><span class="text-primary">。</span></span></h1>
          </div>
          <div class="text-block">
            <h3 style="text-align: center;"><span class="text-thin text-light" style="color: #f2f2f2 !important;">天羅致力於創新物業管理科技，協助物業管理公司為業主提供高效且無縫的物管服務。</span></h3>
          </div>
          <div class="text-center" style="margin-top: 50px">
            <a class="btn btn-solid btn-pill btn-gradient btn-nl waves-effect waves-light scroll-to" style="color: #f2f2f2 !important;" href="/login">管理登入/註冊</a>
            <!-- <a class="btn btn-solid btn-pill btn-gradient btn-nl waves-effect waves-light scroll-to" style="color: #f2f2f2 !important;" href="/login">Owner Login/Register</a> -->
          </div>
        </div>
      </section>

      <!-- noticeboard secion  -->
      <section class="fw-section padding-top-3x">
        <div class="container" data-aos="fade-up">
          <div class="text-block">
            <h4 style="text-align: center;"><span class="text-huge">天羅 <span class="text-primary text-feather">通告欄</span></span></h4>
          </div>
          <div class="text-block">
            <h3 style="text-align: center; font-weight: normal;">隨時獲取屋苑通告及資訊。</h3>
          </div>
        </div>
      </section>
      <section class="fw-section layout-full-equal section-no-gap padding-top-0.5x overflow-hidden">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right" style="background: url('assets/img/landing-page/noticeboard(w)-2.svg') 50% 50% no-repeat;    height: 500px;"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-left">
              <div class="hidden-sm hidden-xs" style="height: 96px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
              <div class="visible-xs" style="height: 40px;"></div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                  <div class="text-block">
                    <div class="h2" style="text-align: center;">即時，即刻。</div>
                  </div>
                  <div class="text-block padding-bottom-2x">
                    <p style="text-align: center;"><span class="text-black text-lg">跟蹤屋苑動態，無論是電梯維護還是會議時間變動， 天羅可以第一時間透過APP通知業主。</span></p>
                  </div>
                  <div class="testimonial testimonial-left border-default"><span class="quote-mark background-primary"><i class="si si-quote"></i></span>
                    <p>天羅嘅APP為廣大香港業主帶來更方便，快捷的服務的同時，也令屋苑嘅決策流程更加透明。</p>
                    <div class="testimonial-author">
                      {{!-- <div class="author-avatar"><img width="100" height="100" src="img/home/test05.jpg" alt=""></div> --}}
                      <div class="testimonial-author-info">
                        <h4 class="testimonial-author-name">(Ricky) 何先生</h4>
                        <h5 class="testimonial-author-position text-gray">山頂</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden-sm hidden-xs" style="height: 96px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
            </div>
          </div>
        </div>
      </section>

      <!-- meetings section -->
      <section class="fw-section padding-top-2x">
        <div class="container" data-aos="fade-up">
          <div class="text-block">
            <h4 style="text-align: center;"><span class="text-huge">天羅 <span class="text-primary text-feather">會議欄</span></span></h4>
          </div>
          <div class="text-block">
            <h3 style="text-align: center; font-weight: normal;">第一時間獲取大會資訊，並通過APP直接投票，隨時，隨地。</h3>
          </div>
        </div>
      </section>

      <section class="fw-section layout-full-equal section-no-gap overflow-hidden">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-6 col-md-push-6" data-aos="fade-left" style="background: url('assets/img/landing-page/upcomingmeeting(w)-2.svg') 50% 50% no-repeat;    height: 500px;"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-pull-6 col-md-pull-6" data-aos="fade-right">
              <div class="hidden-sm hidden-xs" style="height: 96px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
              <div class="visible-xs" style="height: 40px;"></div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                  <div class="text-block">
                    <div class="h2" style="text-align: center;">無需親臨會議, 電子投票即可。</div>
                  </div>
                  <div class="text-block padding-bottom-2x">
                    <p style="text-align: center;"><span class="text-black text-lg">一眼盡覽會議概要、議程、時間、地點，以及議案有關文件與選項。只需幾秒認證便可投票。</span></p>
                  </div>
                  <div class="testimonial testimonial-left border-default"><span class="quote-mark background-primary"><i class="si si-quote"></i></span>
                    <p>有關屋苑翻新和重建項目的投票從此變得更加容易，且快捷。</p>
                    <div class="testimonial-author">
                      {{!-- <div class="author-avatar"><img width="100" height="100" src="img/home/test01.jpg" alt=""></div> --}}
                      <div class="testimonial-author-info">
                        <h4 class="testimonial-author-name">劉女士</h4>
                        <h5 class="testimonial-author-position text-gray">元朗</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden-sm hidden-xs" style="height: 30px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
              <div class="visible-xs" style="height: 20px;"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="fw-section layout-full-equal section-no-gap padding-top-0.5x overflow-hidden">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right" style="background: url('assets/img/landing-page/vote(w)-2.svg') 50% 50% no-repeat;    height: 500px;"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-left">
              <div class="hidden-sm hidden-xs" style="height: 96px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
              <div class="visible-xs" style="height: 40px;"></div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                  <div class="text-block">
                    <div class="h2" style="text-align: center;">做出更佳投票選擇。</div>
                  </div>
                  <div class="text-block padding-bottom-2x">
                    <p style="text-align: center;"><span class="text-black text-lg">會議開始兩星期前，物業經理會將所有議案，議程相關資料上傳。業主有充足的時間詳細閱讀，分析投票選項。當業主想做出決定時，可直接透過APP投票。</span></p>
                  </div>
                  <div class="testimonial testimonial-left border-default"><span class="quote-mark background-primary"><i class="si si-quote"></i></span>
                    <p>天羅嘅兩個核心，透明及快捷。</p>
                    <div class="testimonial-author">
                      {{!-- <div class="author-avatar"><img width="100" height="100" src="img/home/test05.jpg" alt=""></div> --}}
                      <div class="testimonial-author-info">
                        <h4 class="testimonial-author-name">(Alan) 何先生</h4>
                        <h5 class="testimonial-author-position text-gray">九龍塘</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden-sm hidden-xs" style="height: 96px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
            </div>
          </div>
        </div>
      </section>

      <!-- Forum section -->
      <section class="fw-section padding-top-2x">
        <div class="container" data-aos="fade-up">
          <div class="text-block">
            <h4 style="text-align: center;"><span class="text-huge">天羅 <span class="text-primary text-feather">論壇</span></span></h4>
          </div>
          <div class="text-block">
            <h3 style="text-align: center; font-weight: normal;">天羅提供屋苑一個私人與匿名論壇，不僅使業主和物管處的互動更加無縫，也讓集體決策變得更容易。</h3>
          </div>
        </div>
      </section>
      <section class="fw-section layout-full-equal section-no-gap overflow-hidden">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-6 col-md-push-6" data-aos="fade-left" style="background: url('assets/img/landing-page/forum(w)-2.svg') 50% 50% no-repeat;    height: 500px;"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-pull-6 col-md-pull-6" data-aos="fade-right">
              <div class="hidden-sm hidden-xs" style="height: 96px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
              <div class="visible-xs" style="height: 40px;"></div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                  <div class="text-block">
                    <div class="h2" style="text-align: center;">分享，探討，做出決定。</div>
                  </div>
                  <div class="text-block padding-bottom-2x">
                    <p style="text-align: center;"><span class="text-black text-lg">業主可在一個開放論壇進行匿名互動。經理和業主可在每個帖子留言，表達心聲。</span></p>
                  </div>
                  <div class="testimonial testimonial-left border-default"><span class="quote-mark background-primary"><i class="si si-quote"></i></span>
                    <p>透過天羅，即使不在香港，我也可对自己的物業了如指掌。天羅不只是一個APP，也是一個概念為廣大住戶帶來實際的效益。 </p>
                    <div class="testimonial-author">
                      {{!-- <div class="author-avatar"><img width="100" height="100" src="img/home/test01.jpg" alt="Telos Technology"></div> --}}
                      <div class="testimonial-author-info">
                        <h4 class="testimonial-author-name">馬先生</h4>
                        <h5 class="testimonial-author-position text-gray">跑馬地</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden-sm hidden-xs" style="height: 96px;"></div>
              <div class="visible-sm" style="height: 60px;"></div>
              <div class="visible-xs" style="height: 20px;"></div>
            </div>
          </div>
        </div>
      </section>


      <!--security section -->
      <section class="fw-section with-parallax padding-top-3x padding-bottom-3x" data-offset-top="180" data-jarallax="{&quot;type&quot;:&quot;scroll&quot;,&quot;speed&quot;:0.4,&quot;imgWidth&quot;:1920,&quot;imgHeight&quot;:951,&quot;noAndroid&quot;:&quot;true&quot;,&quot;noIos&quot;:&quot;true&quot;}"
        style="background-image: url(assets/img/home/main_hero_bg.png);">
        <div class="container">
          <div class="text-block">
            <!-- <div class="col-sm-6"></div> -->
            <div class="text-center" data-aos="fade-up">
              <br>
              <div id="bm10" class="block-center" style="width: 55px; margin-bottom: 8px"></div>
              <div class="text-block">
                <div class="h2" style="color: #f2f2f2">安全認證</div>
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <p><span class="text-gray text-lg text-center">我們完全明白屋苑重要事項需嚴格保密。天羅架構於企業級安全系統並採用行業安全標準，嚴格保護用戶和屋苑資料。</span></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- security flow -->
      <section class="fw-section with-parallax aws-img aws-img-mobile" data-aos="fade-up" style="background-size: 100% 100%;">
        <img class="mobile-show" src="assets/img/landing-page/security-flow-chinese-phone.svg"/>
        <img class="mobile-hide" src="assets/img/landing-page/security-flow-chinese.svg"/>
      </section>

      <!-- admin section -->
      <section class="intro-section intro-app-showcase intro-light">
        <!-- <div class="intro-app-background active" data-platform="#ios" data-jarallax="" style="background: url('assets/img/landing-page/background-admin(1).png') 50% 50% no-repeat;"></div>
        <div class="intro-app-background" data-platform="#android" data-jarallax="" style="background: url('assets/img/landing-page/background-admin(1).png') 50% 50% no-repeat;"></div>
        <div class="intro-app-background" data-platform="#windows" data-jarallax="" style="background: url('assets/img/landing-page/background-admin(1).png') 50% 50% no-repeat;"></div> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4 padding-bottom-2x">
              <div class="intro-app-header active" data-platform="#ios">
                <h2 style="text-align: center; margin-left: 20px"><span class="text-black">物業管理網上平台：</span><span class="text-primary">發出通告</span></h2>
              </div>
              <div class="intro-app-header" data-platform="#android">
                <h2 style="text-align: center; margin-left: 20px"><span class="text-black">物業管理網上平台：</span><span class="text-primary">舉行會議</span></h2>
              </div>
              <div class="intro-app-header" data-platform="#windows">
                <h2 style="text-align: center; margin-left: 20px"><span class="text-black">物業管理網上平台：</span><span class="text-primary">問卷調查</span></h2>
              </div>
              <div class="platform-swith font-family-nav padding-top-2x"><a class="platform-ios active" href="#ios">                            通告爛</a><a class="platform-android" href="#android">                            會議欄</a><a class="platform-windows" href="#windows">                            問卷</a>
              </div>
              <div class="col-md-18 block-center">
                <div class="intro-app-features active" data-platform="#ios">
                  <div class="feature">
                    <div id="bm" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">中央平台</h4>
                      <p style="color: #000000" class="text-lg">發出，刪除，管理您屋苑的通告。</p>
                    </div>
                  </div>
                  <div class="feature">
                    <div id="bm2" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">自定義</h4>
                      <p style="color: #000000" class="text-lg">可完全客制聽眾，透過選擇棟，層，物管經理可以進行選擇性發出通告，令信息變得更精準。</p>
                    </div>
                  </div>
                  <div class="feature">
                    <div id="bm3" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">即時，即刻</h4>
                      <p style="color: #000000" class="text-lg">無需繁瑣地影印，張貼通告。點擊一下即可發出通告。</p>
                    </div>
                  </div>
                </div>
                <div class="intro-app-features" data-platform="#android">
                  <div class="feature">
                    <div id="bm4" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">中央平台</h4>
                      <p style="color: #000000" class="text-lg">舉行周年大會及其他會議；可添加會議議程、概要和議案，也可更改會議資訊。</p>
                    </div>
                  </div>
                  <div class="feature">
                    <div id="bm5" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">自定義</h4>
                      <p style="color: #000000" class="text-lg">物業管理經理可在會議開始兩個星期之前更改議案內容。物業管理經理也可在會議開始之前更改會議詳情。</p>
                    </div>
                  </div>
                  <div class="feature">
                    <div id="bm6" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">即時，即刻</h4>
                      <p style="color: #000000" class="text-lg">會議結束後可即刻下載投票結果，業主也可即刻在APP獲取結果。</p>
                    </div>
                  </div>
                </div>
                <div class="intro-app-features" data-platform="#windows">
                  <div class="feature">
                    <div id="bm7" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">中央平台</h4>
                      <p style="color: #000000" class="text-lg">發出，管理及查看問卷及問卷結果</p>
                    </div>
                  </div>
                  <div class="feature">
                    <div id="bm8" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">自定義</h4>
                      <p style="color: #000000" class="text-lg">問卷系統專門設計與幫助物業管理公司了解業主需要及想法。</p>
                    </div>
                  </div>
                  <div class="feature">
                    <div id="bm9" class="block-center" style="width: 55px; margin-right: 30px"></div>
                    <div class="feature-text">
                      <h4 style="color: #1d1d26">即時，即刻</h4>
                      <p style="color: #000000" class="text-lg">物業管理經理可即時發出問卷，且透過網上平台查閱數據。更快捷，更高效。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gadget-ios active" data-platform="#ios"><img src="assets/img/landing-page/noticeboard-admin.svg" alt="Ios">
              </div>
              <div class="gadget-android" data-platform="#android"><img src="assets/img/landing-page/add-poll-admin.svg" alt="Android">
              </div>
              <div class="gadget-windows" data-platform="#windows"><img src="assets/img/landing-page/survey-admin.svg" alt="Windows">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="fw-section padding-top-3x">
        <div class="container" data-aos="fade-up">
          <div class="text-block">
            <h4 style="text-align: center;"><span class="text-huge">Admin <span class="text-primary text-feather">Control Panel</span></span></h4>
          </div>
          <div class="text-block">
            <h3 style="text-align: center; font-weight: normal;">Instantly generate and manage polls, share relevant documents with property owners, and access data from every poll.</h3>
          </div>
        </div>
      </section>
      <section class="fw-section layout-full section-no-gap margin-top-2x">
        <div class="container">
          <div class="row">
            <div class="col-sm-7" data-aos="flip-right"><img class="block-center" width="900" height="701" src="assets/img/landing-page/survey-laptop.svg" alt="">
              <div class="text-block">
                <h4 style="text-align: center;"><span style="font-weight: bold;">Current Polls</span></h4>
              </div>
            </div>
            <div class="col-sm-4" data-aos="flip-right"><img width="900" height="701" src="assets/img/chairmanpanel/Past_Polls.png" alt="">
              <div class="text-block">
                <h4 style="text-align: center;"><span style="font-weight: bold;">Past Polls</span></h4>
              </div>
            </div>
            <div class="col-sm-4" data-aos="flip-right"><img width="900" height="701" src="assets/img/chairmanpanel/Add_Poll.png" alt="">
              <div class="text-block">
                <h4 style="text-align: center;"><span style="font-weight: bold;">Add a Poll</span></h4>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- line to separate sections: -->
      <!-- <section class="fw-section layout-full">
          <div class="container-fluid">
            <hr>
          </div>
        </section> -->
      <!-- <section class="fw-section padding-top-3x padding-bottom-2x overflow-hidden">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5" data-aos="fade-right">
              <div class="hidden-xs" style="height: 60px;"></div>
              <div class="text-block">
                <h4 style="text-align: center;"><span class="text-huge">Owners <span class="text-feather text-primary">Mobile App</span></span></h4>
              </div>
              <div class="text-block">
                <h3 style="text-align: center; font-weight: normal;">Vote anytime, anywhere, with all the information you need.</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" data-aos="fade-left">
              <div class="owl-carousel carousel-with-dots carousel-dark without-captions layout-carousel" data-si-carousel="{&quot;nav&quot;:false,&quot;dots&quot;:true,&quot;loop&quot;:true,&quot;autoplay&quot;:true,&quot;autoplayTimeout&quot;:4000,&quot;margin&quot;:0,&quot;autoHeight&quot;:false,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1},&quot;768&quot;:{&quot;items&quot;:1},&quot;991&quot;:{&quot;items&quot;:1},&quot;1200&quot;:{&quot;items&quot;:1}}}">
                <figure class="carousel-item"><img width="324" height="540" src="assets/img/landing-page/upcomingmeeting(b)-2.svg" alt=""></figure>
                <figure class="carousel-item"><img width="324" height="540" src="assets/img/landing-page/vote(b)-2.svg" alt=""></figure>
                <figure class="carousel-item"><img width="324" height="540" src="assets/img/landing-page/pastmeeting(b)-2.svg" alt=""></figure>
                <figure class="carousel-item"><img width="900" height="624" src="assets/img/residents/layout04.png" alt=""></figure>


              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- compliance section -->
      <section class="fw-section padding-top-4x padding-bottom-4x" data-offset-top="180" data-jarallax="{&quot;type&quot;:&quot;scroll&quot;,&quot;speed&quot;:0.1,&quot;imgWidth&quot;:1920,&quot;imgHeight&quot;:939,&quot;noAndroid&quot;:&quot;true&quot;,&quot;noIos&quot;:&quot;true&quot;}"
        style="background-image: url(assets/img/landing-page/compliance-background.svg);">
        <div class="container">
          <div class="text-block">
            <div class="text-center" data-aos="fade-up">
              <!-- <div id="bm11" class="mobile-center" style="width: 55px; margin-bottom: 8px"></div> -->
              <!-- <div class="block-center"> -->
              <div class="feature-icon block-center" style="width: 55px; margin-bottom: 12px"><img src="assets/img/landing-page/compliance-icon.png"></div>
              <h2 class="text-black">100% 符合 BMO</h2>
              <!-- </div> -->
              <div class="text-block">
                <p><span class="text-black text-lg">我們的軟件服務是專門設計給香港樓宇並100%遵守建築物管理第334條例的各項規定。</span></p>
              </div>
              <!-- <div class="col-sm-6"></div> -->
            </div>
          </div>
      </section>

      <!-- footer.pug template -->
      <!-- Footer-->
      <footer class="site-footer footer-light" style="background-color: #000000;">
        <div class="container">
          <div class="footer-row">
            <div class="row">
              <!-- contact us -->
              <div class="col-md-4 col-sm-6">
                <section class="widget widget_silicon_contacts" id="silicon_contacts-2">
                  <h3 class="widget-title">聯絡我們</h3>
                  <ul>
                    <li><i class="si si-location background-white"></i><span class="contact-label">地點</span><span class="contact-info font-family-body">香港薄扶林，香港大學，紐魯斯樓，iDendron, 1/F</span></li>
                    <li><i class="si si-phone background-white"></i><span class="contact-label font-family-nav">聯絡電話</span><a class="contact-info font-family-body" href="tel:+85298825917">(+852) 9882-5917</a></li>
                    <li><i class="si si-email-black background-white"></i><span class="contact-label font-family-nav">電郵</span><a class="contact-info font-family-body" href="mailto:support@telos-technology.com">support@telos-technology.com</a></li>
                  </ul>
                </section>
              </div>
                       <!-- terms and conditions -->
              {{!-- <div class="col-md-3 col-sm-6">
                <section class="widget widget_categories" id="categories-3">
                  <h3 class="widget-title">天羅科技有限公司</h3>
                  <ul>
                    <li class="cat-item cat-item-39"><a href="#">Terms and Conditions</a> (8)</li>
                    <li class="cat-item cat-item-42"><a href="#">Privacy Policy</a> (6)</li>
                  </ul>
                </section>
              </div> --}}
               <!-- download buttons -->
               <div class="container text-center padding-bottom-2x">
              <div class="text-block">
              </div><a class="market-btn btn-appstore waves-effect" href="#" style="background-image: url(assets/img/appstore.png);"><span>下載於 </span>App Store</a><a class="market-btn btn-playstore waves-effect" href="#" style="background-image: url(assets/img/playstore.png);"><span>下載於 </span>Google Play</a>
            </div>
            </div>
          </div>

          <!-- grey line -->
          <div class="footer-row border-default-top">
            <section class="widget widget_text" id="text-2">
              <div class="textwidget">
                <div class="social-bar text-center" style="margin-bottom:10px;">
                  <a class="social-button sb-facebook sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-facebook unhvrd"></i><i class="socicon-facebook hvrd"></i>
                    </a>
                  <a class="social-button sb-linkedin sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-linkedin unhvrd"></i><i class="socicon-linkedin hvrd"></i>
                    </a>
                  <!-- <a class="social-button sb-twitter sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-twitter unhvrd"></i><i class="socicon-twitter hvrd"></i>
                    </a
                    ><a class="social-button sb-pinterest sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-pinterest unhvrd"></i><i class="socicon-pinterest hvrd"></i></a>--></div>
                <p><a class="block-center" href="/" style="width:80px;"><img alt="Telos Technology" src="assets/img/telos_white.png"></a></p>
              </div>
            </section>
          </div>
        </div>
      </footer>
      </div>
      <!-- Back To Top Button-->
      <a class="scroll-to-top-btn" href="#"><i class="si si-angle-up"></i></a>
      <!-- Backdrop-->
      <div class="site-backdrop"></div>
      <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
      <script src="assets/js/vendor.min.js"></script>
      <script src="assets/js/theme.min.js"></script>
  </main>

  {{!-- chat plugin  --}}
  <script id="zupScript" src="https://cp.zupportdesk.com/App/widget/ChatWidget.js?widgetId=962ebb6e-fb13-4afa-bd8c-7389a521a59b"></script>
</body>
</html>
<script>
    // Opera 8.0+
    var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

    // Firefox 1.0+
    var isFirefox = typeof InstallTrigger !== 'undefined';

    // Safari 3.0+ "[object HTMLElementConstructor]"
    var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);

    // Internet Explorer 6-11
    var isIE = /*@cc_on!@*/false || !!document.documentMode;

    // Edge 20+
    var isEdge = !isIE && !!window.StyleMedia;

    // Chrome 1+
    var isChrome = !!window.chrome && !!window.chrome.webstore;

    // Blink engine detection
    var isBlink = (isChrome || isOpera) && !!window.CSS;

if(isChrome === true || isFirefox === true || isOpera === true){
document.getElementById("fontId").style.fontFamily = "'SF-Display-Regular', sans-serif";
}
 else if(isSafari === true){
document.getElementById("fontId").style.fontFamily = "'SF-Display-Regular', sans-serif";
}
else{
  alert("IE")
  document.getElementById("fontId").style.fontFamily = "arial";
}
  </script>




