<body>
  <!-- loading screen -->
  <div class="loading-screen">
    <div class="inner">
      <div class="preloader-logo" style="width: 90px;"><img class="attachment-full size-full" src="assets/img/telos.png"></div>
      <div class="progress-wrap">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>

  <!-- side navbar -->
  <div class="offcanvas-container mobile-menu">
    <nav class="main-navigation font-family-nav">
      <ul class="menu">
        <li class="menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn"><span>主頁</span></a>

        </li>
        <li class="menu-item menu-item-has-children"><a href="/aboutchn">關於</a>

        </li>
        {{!-- <li class="menu-item menu-item-has-children"><a href="/about">過往用戶</a>

            </li> --}}
        <li class="menu-item menu-item-has-children"><a href="/privacy">English</a>

        </li>
      </ul>
    </nav>
  </div>

  <!-- Page Wrapper-->
  <main class="page-wrapper">
    <header class="site-header header-fullwidth">
      <!-- Topbar-->
      <div class="navbar-horizontal border-default-bottom">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle">
              <i class="si si-menu"></i></div>
            <a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.png"></a><a class="mobile-logo" href="assets/index.html" style="width: 120px;"><img alt="" src="assets/img/telos.png"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav">
            <ul class="menu">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn"><span>主頁</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/aboutchn">關於</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/privacy">English</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="navbar-horizontal navbar-sticky border-default-bottom">

        <div class="navbar-inner">
          <div class="navbar-branding">
            <div class="mobile-menu-toggle"><i class="si si-menu"></i></div><a class="site-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.png"></a><a class="mobile-logo" href="/" style="width: 120px;"><img alt="" style="width:50%" src="assets/img/telos.png"></a>
          </div>

        </div>
        <div class="menu-wrap">
          <nav class="main-navigation font-family-nav">
            <ul class="menu">
              <li class="menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn"><span>主頁</span></a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/aboutchn">關於</a>

              </li>
              <li class="menu-item menu-item-has-children"><a href="/privacy">English</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- Content Wrapper-->
    <div class="content-wrapper">
      <!-- page-title.pug template-->
      <!-- Page Title-->
      <section class="page-title page-title-lg" style="background-image: url(assets/img/home/main_hero_bg.png);" data-offset-top="180" data-jarallax="{&quot;type&quot;:&quot;scroll&quot;,&quot;speed&quot;:0.4,&quot;imgWidth&quot;:1920,&quot;imgHeight&quot;:951,&quot;noAndroid&quot;:&quot;true&quot;,&quot;noIos&quot;:&quot;true&quot;}">
        </span>
        <div class="inner">
          <div class="breadcrumbs text-center"><span class="separator background-primary"></span><span class="separator background-primary"></span>
          </div>
          <h1 class="text-white">Privacy Policy</h1>
        </div>
      </section>
      <!-- Page Content-->
      <section class="fw-section padding-top-3x padding-bottom-3x">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="wpb_widgetised_column">
                <div class="wpb_wrapper">
                  <section class="widget widget_nav_menu" id="nav_menu-3">
                    <h3 class="widget-title">Categories</h3>
                    <div class="menu-faq-menu-container">
                      <ul class="menu" id="menu-faq-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-520" id="menu-item-520"><a href="#panel-2492fad3" data-toggle="collapse">Introduction</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-519" id="menu-item-519"><a href="#panel-22876198" data-toggle="collapse">Collection of your information</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-523" id="menu-item-523"><a href="#panel-722e7763" data-toggle="collapse">Use of your information</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-522" id="menu-item-522"><a href="#panel-f1b47d08" data-toggle="collapse">Disclosure of your information</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-525" id="menu-item-525"><a href="#panel-f53253d2" data-toggle="collapse">Tracking Technologies</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-526" id="menu-item-526"><a href="#panel-1" data-toggle="collapse">Third party websites</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-521" id="menu-item-521"><a href="#panel-2" data-toggle="collapse">Google Maps</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-524" id="menu-item-524"><a href="#panel-3" data-toggle="collapse">Security of your information</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-527" id="menu-item-527"><a href="#panel-4" data-toggle="collapse">Controls for do-not-track features</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-528" id="menu-item-528"><a href="#panel-5" data-toggle="collapse">Operations regarding your information</a></li>
                      </ul>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
              <div class="panel-group border-default-top panel-group-dark" id="tta-93408314">
                <div class="panel">
                  <h4 class="panel-title"><a class="open border-default-bottom" href="#panel-2492fad3" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Introduction</a></h4>
                  <div class="panel-collapse border-default-bottom collapse in" id="panel-2492fad3">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">Telos Technology Limited (“we” or “us” or “our”) respects the privacy of our users (“user” or “you”). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website www.telos-technology.com and our mobile application including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”). Please read this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE SITE.</span></p>
                        <p><span class="text-gray">We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Revised” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-22876198" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Collection of your information</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-22876198">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">We may collect information about you in a variety of ways. The information we may collect on the Site includes:</span></p>
                        <p><span class="text-gray">PERSONAL DATA<br>Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site or our mobile application, or when you choose to participate in various activities related to the Site and our mobile application, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site and our mobile application.</span></p>
                        <p><span class="text-gray">DERIVATIVE DATA<br>Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site. If you are using our mobile application, this information may also include your device name and type, your operating system, your phone number, your country, your likes and replies to a post, and other interactions with the application and other users via server log files, as well as any other information you choose to provide.</span>
                          <p>
                            <p><span class="text-gray">FINANCIAL DATA<br>Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date) that we may collect when you purchase, order, return, exchange, or request information about our services from the Site or our mobile application.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-722e7763" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Use of your information</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-722e7763">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">FACEBOOK PERMISSIONS<br>The Site and our mobile application may by default access your Facebook basic account information, including your name, email, gender, birthday, current city, and profile picture URL, as well as other information that you choose to make public. We may also request access to other permissions related to your account, such as friends, checkins, and likes, and you may choose to grant or deny us access to each individual permission. For more information regarding Facebook permissions, refer to the Facebook Permissions Reference page.</span></p>
                        <p><span class="text-gray">DATA FROM SOCIAL NETWORKS<br>User information from social networking sites, such as Facebook, Google+, Instagram, including your name, your social network username, location, gender, birth date, email address, profile picture, and public data for contacts, if you connect your account to such social networks. If you are using our mobile application, this information may also include the contact information of anyone you invite to use and/or join our mobile application.</span></p>
                        <p><span class="text-gray">MOBILE DEVICE DATA<br>Device information, such as your mobile device ID, model, and manufacturer, and information about the location of your device, if you access the Site from a mobile device.</span></p>
                        <p><span class="text-gray">CONTENT FROM CONTESTS, GIVEAWAYS, AND SURVEYS<br>Personal and other information you may provide when entering contests or giveaways and/or responding to surveys.</span></p>
                        <p><span class="text-gray">MOBILE APPLICATION INFORMATION<br>If you connect using our mobile application:
                          <br>- Geo-Location Information. We may request access or permission to and track location-based information from your mobile device, either continuously or while you are using our mobile application, to provide location-based services. If you wish to change our access or permissions, you may do so in your device’s settings.
                          <br>- Mobile Device Access. We may request access or permission to certain features from your mobile device, including your mobile device’s bluetooth, calendar, camera, contacts, microphone, reminders, SMS messages, social media accounts, storage, and other features. If you wish to change our access or permissions, you may do so in your device’s settings.
                          <br>- Mobile Device Data. We may collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and IP address.
                          <br>- Push Notifications. We may request to send you push notifications regarding your account or our Services. If you wish to opt-out from receiving these types of communications, you may turn them off in your device’s settings.
                          <br><br>Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site or our mobile application to:
                          <br>-Administer sweepstakes, promotions, and contests.
                          <br>-Assist law enforcement and respond to subpoenas.
                          <br>-Compile anonymous statistical data and analysis for use internally or with third parties.
                          <br>-Create and manage your account.
                          <br>-Deliver targeted advertising, coupons, newsletters, and promotions, and other information regarding our website and mobile application to you.
                          <br>-Email you regarding your account or order.
                          <br>-Enable user-to-user communications.
                          <br>-Fulfill and manage purchases, orders, payments, and other transactions related to the Site and our mobile application.
                          <br>-Generate a personal profile about you to make future visits to the Site and our mobile application more personalized.
                          <br>-Increase the efficiency and operation of the Site and our mobile application.
                          <br>-Monitor and analyze usage and trends to improve your experience with the Site and our mobile application.
                          <br>-Notify you of updates to the Site and our mobile application.
                          <br>-Offer new products, services, mobile applications, and/or recommendations to you.
                          <br>-Perform other business activities as needed.
                          <br>-Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.
                          <br>-Process payments and refunds.
                          <br>-Request feedback and contact you about your use of the Site and our mobile application.
                          <br>-Resolve disputes and troubleshoot problems.
                          <br>-Respond to product and customer service requests.
                          <br>-Send you a newsletter.
                          <br>-Solicit support for the Site and our mobile application.
                        </span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-f1b47d08" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Disclosure of your information</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-f1b47d08">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">We may share information we have collected about you in certain situations. Your information may be disclosed as follows:</span></p>
                        <p><span class="text-gray">BY LAW OR TO PROTECT RIGHTS<br>If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.</span></p>
                        <p><span class="text-gray">THIRD PARTY SERVICE PROVIDERS<br>We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.</span></p>
                        <p><span class="text-gray">MARKETING COMMUNICATIONS<br>With your consent, or with an opportunity for you to withdraw consent, we may share your information with third parties for marketing purposes, as permitted by law.</span></p>
                        <p><span class="text-gray">INTERACTION WITH OTHER USERS<br>If you interact with other users of the Site and our mobile application, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs.</span></p>
                        <p><span class="text-gray">ONLINE POSTINGS<br>When you post comments, contributions or other content to the Site or our mobile application, your posts may be viewed by all users and may be publicly distributed outside the Site and our mobile application in perpetuity.</span></p>
                        <p><span class="text-gray">AFFILIATES<br>We may share your information with our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.</span></p>
                        <p><span class="text-gray">BUSINESS PARTNERS<br>We may share your information with our business partners to offer you certain products, services or promotions.</span></p>
                        <p><span class="text-gray">SOCIAL MEDIA CONTACTS<br>If you connect to the Site or our mobile application through a social network, your contacts on the social network will see your name, profile photo, and descriptions of your activity.</span></p>
                        <p><span class="text-gray">OTHER THIRD PARTIES<br>We may share your information with advertisers and investors for the purpose of conducting general business analysis. We may also share your information with such third parties for marketing purposes, as permitted by law.</span></p>
                        <p><span class="text-gray">SALE OR BANKRUPTCY<br>If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity. If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline honor commitments we made in this Privacy Policy.<br><br>We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations. If you no longer wish to receive correspondence, emails or other communications from third parties, you are responsible for contacting the third party directly.</span></p>
                        <p><span class="text-gray"></span></p>
                        <p><span class="text-gray"></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-f53253d2" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Tracking technologies</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-f53253d2">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">COOKIES AND WEB BEACONS<br>We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site and our mobile application to help customize the Site and our mobile application and improve your experience. For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.</span></p>
                        <p><span class="text-gray">WEB ANALYTICS<br>We may also partner with selected third-party vendors, such as Adobe Analytics, Google Analytics, Kissmetrics, Mixpanel, Facebook Pixel , to allow tracking technologies and remarketing services on the Site and our mobile application through the use of first party cookies and third-party cookies, to, among other things, analyze and track users’ use of the Site and our mobile application, determine the popularity of certain content and better understand online activity. By accessing the Site, our mobile application, you consent to the collection and use of your information by these third-party vendors. You are encouraged to review their privacy policy and contact them directly for responses to your questions. We do not transfer personal information to these third-party vendors. However, If you do not want any information to be collected and used by tracking technologies, you can visit the third-party vendor or Network Advertising Initiative Opt-Out Tool or Digital Advertising Alliance Opt-Out Tool.
                        <br><br>You should be aware that getting a new computer, installing a new browser, upgrading an existing browser, or erasing or otherwise altering your browser’s cookies files may also clear certain opt-out cookies, plug-ins, or settings.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-1" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Third party websites</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-1">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">The Site and our mobile application may contain links to third-party websites and applications of interest, including advertisements and external services, that are not affiliated with us. Once you have used these links to leave the Site or our mobile application, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to any third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site or our mobile application.
                        </span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-2" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Google Maps</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-2">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">This website uses Google Maps APIs. You may find the Google Maps APIs Terms of Service <a href="https://developers.google.com/maps/">here</a>. To better understand Google’s Privacy Policy, please refer to this <a href="https://www.google.com/policies/privacy/">link</a>.<br><br>
                          By using our Maps API Implementation, you agree to be bound by Google’s Terms of Service. You agree to allow us to obtain or cache your location. You may revoke your consent at anytime. We use information about location in conjunction with data from other data providers.<br><br>
                          The Maps APIs that we use store and access cookies and other information on your devices. If you are a user currently in the European Union, please take a look at our EU User Consent Policy, which can be found at this link: www.telos-technology.com/cookie- policy.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-3" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Security of your information</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-3">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.
                        </span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-4" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Controls for do-not-track features</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-4">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">Most web browsers and some mobile operating systems and our mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy.
                        </span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <h4 class="panel-title"><a class="collapsed border-default-bottom" href="#panel-5" data-toggle="collapse" data-parent="#tta-93408314"><span class="si si-plus text-gray"></span>Operations regarding your information</a></h4>
                  <div class="panel-collapse border-default-bottom collapse out" id="panel-5">
                    <div class="panel-collapse-inner">
                      <div class="text-block">
                        <p><span class="text-gray">ACCOUNT INFORMATION<br>You may at any time review or change the information in your account or terminate your account by:<br>
                          - Contacting us using the contact information provided.<br>
                          Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</span></p>
                        <p><span class="text-gray">EMAILS AND COMMUNICATION<br>If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:
                        <br>- Contacting us using the contact information provided.
                        <br>- Clicking unsubscribe in communication emails.
                        <br><br>If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="text-block padding-top-3x">
                <h2>Haven’t found your question? Just ask.</h2>
              </div>
              <div id="wpcf7-f527-p518-o1div" role="form" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form method="post" novalidate="novalidate">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="faq_name">Your name</label><br>
                      <span-wrap class="faq_name">
                        <input type="text" name="faq_name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Enter your name">
                      </span-wrap>
                    </div>
                    <div class="col-sm-6">
                      <label for="faq_email">Your e-mail</label><br>
                      <span-wrap class="faq_email">
                        <input id="faq_email" type="email" name="faq_email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Enter your e-mail">
                      </span-wrap>
                    </div>
                  </div>
                  <p>
                    <label for="faq_question">Your question</label><br>
                    <span-wrap class="faq_question">
                      <textarea id="faq_question" name="faq_question" cols="40" rows="10" aria-required="true" aria-invalid="false" placeholder="Enter your message"></textarea>
                    </span-wrap>
                  </p>
                  <div class="text-center" style="padding-top: 10px;">
                    <button class="btn btn-solid btn-pill btn-primary" type="submit">Ask Question</button>
                  </div>
                  <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <!-- footer.pug template -->
      <!-- Footer-->
      <footer class="site-footer footer-light" style="background-color: #000000;">
        <div class="container">
          <div class="footer-row">
            <div class="row">
              <!-- contact us -->
              <div class="col-md-4 col-sm-6">
                <section class="widget widget_silicon_contacts" id="silicon_contacts-2">
                  <h3 class="widget-title">聯絡我們</h3>
                  <ul>
                    <li><i class="si si-location background-white"></i><span class="contact-label">地點</span><span class="contact-info font-family-body">香港薄扶林，香港大學，紐魯斯樓，iDendron, 1/F</span></li>
                    <li><i class="si si-phone background-white"></i><span class="contact-label font-family-nav">聯絡電話</span><a class="contact-info font-family-body" href="tel:+85298825917">(+852) 9882-5917</a></li>
                    <li><i class="si si-email-black background-white"></i><span class="contact-label font-family-nav">電郵</span><a class="contact-info font-family-body" href="mailto:support@telos-technology.com">support@telos-technology.com</a></li>
                  </ul>
                </section>
              </div>
                       <!-- terms and conditions -->
              <div class="col-md-3 col-sm-6">
                <section class="widget widget_categories" id="categories-3">
                  <h3 class="widget-title">天羅科技有限公司</h3>
                  <ul>
                    <li class="cat-item cat-item-39"><a href="/termschn">法律條款</a></li>
                    <li class="cat-item cat-item-42"><a href="/privacychn">隱私權</a></li>
                  </ul>
                </section>
              </div>
               <!-- download buttons -->
               <div class="container text-center padding-bottom-2x">
              <div class="text-block">
              </div><a class="market-btn btn-appstore waves-effect" href="#" style="background-image: url(assets/img/appstore.png);"><span>下載於 </span>App Store</a><a class="market-btn btn-playstore waves-effect" href="#" style="background-image: url(assets/img/playstore.png);"><span>下載於 </span>Google Play</a>
            </div>
            </div>
          </div>

          <!-- grey line -->
          <div class="footer-row border-default-top">
            <section class="widget widget_text" id="text-2">
              <div class="textwidget">
                <div class="social-bar text-center" style="margin-bottom:10px;">
                  <a class="social-button sb-facebook sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-facebook unhvrd"></i><i class="socicon-facebook hvrd"></i>
                    </a>
                  <a class="social-button sb-linkedin sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-linkedin unhvrd"></i><i class="socicon-linkedin hvrd"></i>
                    </a>
                  <!-- <a class="social-button sb-twitter sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-twitter unhvrd"></i><i class="socicon-twitter hvrd"></i>
                    </a
                    ><a class="social-button sb-pinterest sb-shape-no sb-monochrome sb-light" href="#">
                      <i class="socicon-pinterest unhvrd"></i><i class="socicon-pinterest hvrd"></i></a>--></div>
                <p><a class="block-center" href="/" style="width:80px;"><img alt="Silicon" src="assets/img/telos_white.png"></a></p>
              </div>
            </section>
          </div>
        </div>
      </footer>
      </div>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="si si-angle-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/theme.min.js"></script>
  </main>
</body>
